<div class="contact" #contact>
  <h3 class="contact__header">Let&rsquo;s get in touch!</h3>
  <p class="contact__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <ul class="contact__methods">
    <li class="contact__method">
      <i class="fa fa-5x fa-phone contact__icon" [landingPopWhenScrolled]="0"></i>
      <span class="contact__info contact__info--phone">123-456-7890</span>
    </li>
    <li class="contact__method">
      <i class="fa fa-5x fa-envelope-o contact__icon" [landingPopWhenScrolled]="200"></i>
      <a
        href="mailto:feedback@example.com"
        class="contact__info contact__info--email"
      >mailto:feedback@example.com</a>
    </li>
  </ul>
</div>
